<!DOCTYPE html>
<!-- <html lang="en" class="gr__nyt-mongo-scraper_herokuapp_com"><head>
  <title>Mongo Scraper</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body data-gr-c-s-loaded="true">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>New York Times Edition</p>
  </div>
</div>


<div class="container-fluid article-container">
  
  <div data-_id="5d3cfc879711aa001554a539" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/07/27/opinion/sunday/boris-johnson-churchill-britain-trump-brexit.html">Winston Churchill Would Despise Boris Johnson</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Britain’s new leader has a sadly exaggerated sense of the importance his country will have after Brexit.</div>
  </div>

    <div data-_id="5d3cfc879711aa001554a53b" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/07/25/style/letting-go-of-the-sentimental-but-uncomfortable-couch.html">Letting Go of the Sentimental but Not Very Comfortable Couch</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">When my husband died, I was soothed by the hand-designed furniture he left behind. Eventually, some of it had to go.</div>
  </div>

    <div data-_id="5d3cfc879711aa001554a53a" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/07/27/style/lester-holt-nbc-nightly-news.html">Lester Holt, NBC News Anchor, Moonlights as a Rocker</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">The host of NBC’s “Nightly News” played covers of songs by Aerosmith, the Police and Talking Heads at a free gig in Manhattan.</div>
  </div>
    <div data-_id="5d3cfc879711aa001554a537" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/07/27/us/politics/kamala-harris-2020-election.html">Trump Assails Black Congressional Critic, Calling His District a ‘Mess’</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Mr. Trump lashed out at Representative Elijah Cummings, denouncing his Baltimore-based district as “disgusting” and “rodent infested.”</div>
  </div>
    <div data-_id="5d3cfc879711aa001554a538" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/07/26/arts/11-of-our-best-weekend-reads.html">11 of Our Best Weekend ReadsDid you stay up to date this week? Take our weekly news quiz.</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Korean adoptees share their stories. Robert Mueller’s testimony. David Spade. Roller Derby. And more.</div>
  </div>
    <div data-_id="5d3cfc879711aa001554a536" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/07/27/us/politics/kamala-harris-2020-election.html">What Kamala Harris BelievesTrump Assails Black Congressional Critic, Calling His District a ‘Mess’The president spends more time calling Capitol Hill than his predecessors did, and it has paid off, our columnist writes.</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">The presidential candidate has found herself in an unpredictable position: Democratic voters have thrilled to her as a messenger, yet the content of her message remains a work in progress.Mr. Trump lashed out at Representative Elijah Cummings, denouncing his Baltimore-based district as “disgusting” and “rodent infested.”</div>
  </div>
   </div>

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/assets/javascript/index.js"></script>




</body></html>
</html> -->

<html lang="en" class="gr__mlb-mongo-scraper_herokuapp_com">
  <head>
    <title>MLB Latest Rumours by Mongo Scraper</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cormorant+SC"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>

  <body data-gr-c-s-loaded="true">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Mongo Scraper</a>
      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarColor01"
        aria-controls="navbarColor01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/saved">Saved Articles</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron text-center">
        <img src="../assets/images/baseball.jpeg" width="100%" />

        <!-- <div class="overlay">
        <div class="caption">
          <div class="background-image"> -->
        <div
          style=" position: absolute;
        top: 80%;
        left: 60%;
        transform: translate(-20%, -40%);
        color: white"
        >
          <h1>Mongo Scraper</h1>
          <h2>MLB Latest Rumours</h2>
          <p>From (MLBTradeRumours.com)</p>
          <!-- </div>
        </div>
      </div> -->
        </div>
      </div>
    </div>

    <div class="container-fluid article-container">
      <div class="alert alert-warning text-center">
        <h4>Uh Oh. Looks like we don't have any new articles.</h4>
      </div>
      <div class="card">
        <div class="card-header text-center">
          <h3>What Would You Like To Do?</h3>
        </div>
        <div class="card-body text-center">
          <h4><a class="scrape-new">Try Scraping New Articles</a></h4>
          <h4><a href="/saved">Go to Saved Articles</a></h4>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p>MLB Mongo Scraper</p>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="/assets/javascript/app.js"></script>
  </body>
</html>
